body{
    width: 100%;
    background-image: url(assets/fondo-2-reescalado.jpeg);
    margin: 0;
    background-size: cover;
}

.gradiente{
    background-image: linear-gradient(rgba(0, 0, 0, 0.09), black 60%);
    width:  100%;
    height: 2110px;
    position: absolute;
    z-index: -1;
    top: 0;
}

.mi-pagina{
    width: 1000px;
    background-color: rgb(255, 254, 251);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 50px;
    box-shadow: 20px 20px 40px 20px black;
    border-radius: 20px;
    outline: 4px solid rgb(91, 76, 223);
    font-family: sans-serif;
}

:root{
    /*fondos*/
    --color-primario: rgb(203, 72, 43);
    --color-secundario: #853400;

    /*bordes*/
    --color-primario-borde: rgb(14, 13, 13);
}

/*header*/

header{
    display: flex;
    flex-direction: column;
}

.grupo1{
    background-image: url(assets/fondo-de-programacion.jpg);
    background-size: cover;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.fondo-transparente{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:  rgba(203, 72, 43, 0.412);
    border-radius: 20px 20px 0 0;
    height: 350px;
}

.foto{
    outline: 5px solid var(--color-primario);
    border-radius: 50%;
    margin-top: 45px;
}

.nombre-titulo{
    margin-top: 60px;
    margin-right: 10px;
    box-sizing: border-box;
    color: aliceblue;
    height: 130px;
    width: 550px;
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 30px;
    -webkit-text-stroke: 2px var(--color-primario-borde);
}

/*navegador*/

.navegador{
    background-color: var(--color-primario);
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    font-family: sans-serif;
    border-radius: 0 0 20px 20px;
    gap: 5px;
}

.opcion{
    font-size: 25px;
    margin-top: 9px;
    margin-right: 15px;
    background-color: var(--color-secundario);
    height: 32px;
    box-sizing: border-box;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 20px;
    outline: 3px solid white;
    color: white;
}

.opcion:hover {
    font-size: 25px;
    margin-top: 9px;
    margin-right: 15px;
    background-color: white;
    height: 32px;
    box-sizing: border-box;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 20px;
    outline: 3px solid var(--color-secundario);
    color: var(--color-primario);
}

/*main*/

.grupo2{
    display: flex;
    flex-direction: row;
    background-color: var(--color-primario); 
    margin-top: 15px;
    border-radius: 20px;
    padding: 0 30px;
    height: 212px;
    justify-content: space-around;
    outline: 4px solid var(--color-primario-borde);
}

.descripcion, .sobre-mi {
    outline: 3px solid var(--color-primario-borde);
    height: 170px;
    width: 49%;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
    padding: 0 10px;
    text-align: center;font-family: sans-serif;
}

.estudios{
    background-color: var(--color-primario);
    border-radius: 20px;
    box-sizing: border-box;
    height: 110px;
    width: 100%;
    padding: 0 40px;
    outline: 4px solid var(--color-primario-borde);
    font-family: sans-serif;
    text-align: center;
}

#estudios{
    margin-bottom: 0;
    padding-top: 11px;
}

.comida-favorita{
    background-color: var(--color-primario);
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 40px;
    outline: 4px solid var(--color-primario-borde);
    font-family: sans-serif;
    margin-top: 20px;
    padding-bottom: 15px;
}

.titulo-comida{
    text-align: center;
    padding-top: 15px;
}

.grupo3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: var(--color-primario);
    outline: 4px solid var(--color-primario-borde);
    border-radius: 20px;
    font-family: sans-serif;
}

.tabla{
    border: 3px solid var(--color-primario-borde);
    background-color: white;
}

tr, th, td{
    border: 3px solid var(--color-primario-borde);
    background-color: var(--color-primario);
}

.titulo-definicion2{
    text-align: center;
}

.videos{
    text-align: center;
    background-color: var(--color-primario);
    border-radius: 20px;
    box-sizing: border-box;
    margin: 20px 400px;
    padding: 4px 0;
    outline: 4px solid var(--color-primario-borde);
    font-family: sans-serif;
}

.grupo4{
    display: flex;
}

.video{
    width: 400px;
    margin-left: 35px;
    border-radius: 10px;
    outline: 5px solid var(--color-primario);
}

.link-v{
    margin-left: 30px;
    height: 300px;
    border-radius: 10px;
    outline: 5px solid var(--color-primario);
}

/*footer*/

.git-link{
    margin-top: 20px;
    display: flex;
}

.link-g{
    margin: auto;
}

.git-img{
    width: 100px;
}




/*formulario*/

.navegador-formulario{
    background-color: var(--color-primario);
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    font-family: sans-serif;
    border-radius: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.titulo-formulario{
    margin: auto;
    margin-bottom: 20px;
}

fieldset{
    margin: auto;
    height: 310px;
    width: 600px;
    border-radius: 20px;
    border: 4px solid var(--color-primario-borde);
}

legend{
    padding: 0 30px;
    margin-left: 80px;
    color: var(--color-primario);
    font-size: 20px;
}

.datos{
    margin-bottom: 12px;
}

label{
    margin-left: 15px;
    color: var(--color-primario);
    text-transform: capitalize;
}

.input-datos{
    width: 600px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    background-color: rgba(203, 72, 43, 0.147);
    border-left: 3px solid var(--color-primario);
    border-radius: 4px;
    height: 25px;
}

.input-datos:focus{
    border-left: 3px solid var(--color-primario);
    outline: 1px solid var(--color-primario);
}

.enviar{
    margin-left: 250px;
    width: 60px;
    height: 20px;
    text-transform: capitalize;
}




/*imagenPerro*/

.perro{
    display: flex;
    flex-direction: column;
}

.perro-titulo{
    text-align: center;
}

.perro-imagen{
    margin: 0 0 20px 110px;
    width: 700px;
    outline: 5px solid var(--color-primario);
    border-radius: 20px;
}

.perro-audio{
    margin: auto;
    outline: 5px solid var(--color-primario);
    border-radius: 30px;
}